<div class="jumbotron">
    <h2 class="display-4"> Bienvenido {{user.nombre}} {{user.apellidoP}} {{user.apellidoM}}</h2>
    <p class="lead">Tu saldo actual en tu tarjeta de debito es de: {{user.lineaDebito}}</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/cliente/comprar" role="button">Comprar en linea</a>
        <a class="btn btn-primary btn-lg" href="/cliente/retirarEfectivo" role="button">Retirar efectivo</a>
        <a class="btn btn-primary btn-lg" href="/cliente/historialCompras" role="button">Historial de compras</a>
    </p>
</div>