<form action="/cliente/retirarEfectivo" method="POST">
    <div class="card">
        <div class="card-header">
            <h1>Retiro de efectivo </h1>
        </div>
        <div class="card-body ">

            <div class="form-group col-md-4 mx-auto">
                <input type="number" name="cantidad" class="form-control" placeholder="Ingrese cantidad a retirar">
                <input type="submit" value="Comprar" class="btn btn-outline-success btn-block mt-4">
            </div>
        </div>
    </div>
</form>