<h1>Panel de administrador</h1>
<div class="jumbotron mt-4">
    <h1 class="display-4">Node Bank</h1>
    <h2>Bienvenido administrador {{user.nombre}}</h2>
    <hr class="my-4">
    <p>Proyecto final en su parte web para la materia Topicos Avanzados de Programacion Movil hecho por
        <strong>Christopher Leal Gomez 15120302</strong> </p>
</div>